.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#finish {
    display: none;
}

table {
    margin: 0 auto;
}

td {
    font-size: 25px;
    font-weight: 700;
}

td span {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid rgb(57, 134, 33);
    border-radius: 10px;
    padding: 8px;
    margin-right: 20px;
    color: rgb(57, 134, 33);
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
    max-height: 533px;
    margin-bottom: 20px;
}

#btn,
#finish,
.correct,
.incorrect,
.incorrect1 {
    font-size: 25px;
    width: 250px;
    text-align: center;
    border-radius: 50px;
    padding: 3px 12px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    transition: 1s ease;
}

#btn {
    border: 1px solid rgb(57, 134, 33);
    color:rgb(57, 134, 33);
    font-weight: 600;
}

#btn:hover {
    background: rgb(57, 134, 33);
    color:#fff;
}

#finish {
    border: 1px solid rgb(20, 102, 226);
    color:rgb(20, 102, 226);
    font-weight: 600;
}

#finish:hover {
    background: rgb(20, 102, 226);
    color:#fff;
}

button:focus {
    outline: none;
}

.correct,
.incorrect,
.incorrect1 {
    display: block;
    text-align: left;
    border: 1px solid rgb(255, 187, 0);
    margin-top: 0px;
    font-size: 20px;
}

.correct:hover,
.incorrect:hover,
.incorrect1:hover {
    background: rgb(255, 187, 0);
    color: #000;
}

.fa-check,
.fa-times {
    display: block;
    margin-left: 20px;
    padding: 4px;
    float: right;
}

i.fa-check {
    color: rgb(57, 134, 33);
    visibility: hidden;
}

i.fa-times {
    color: rgb(189, 17, 17);
    visibility: hidden;
}

#score {
    border: none;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(57, 134, 33);
    margin-top: 10px;
}



